[Unit]
Description=Uvicorn FastAPI chat backend
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/root/chat-api-server
ExecStart=/root/chat-api-server/venv/bin/uvicorn app:app --host 127.0.0.1 --port 8000
Restart=always

# Logging
StandardOutput=journal
StandardError=journal
SyslogIdentifier=chat_api_server

[Install]
WantedBy=multi-user.target
